* {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  border: 2px solid;
  font-size: 50px;
  background-color: rgb(236, 167, 167);
}

ul {
  width: 20%;
  margin: 0 auto;
  border: 2px solid;
  text-align: center;
  font-size: 25px;
  color: black;
}